// Colores 
$negro: #000000;
$blanco: #ffffff;
$grisClaro: #e1e1e1;
$azul: #037bc0;
$verde: #8cbc00;
$verdeOscuro: #769c02;

// Resoluciones
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXl: 1400px;

// Fuentes
$fuentePrincipal: "Raleway", sans-serif;
$fuenteSecundaria: "Playfair Display", serif;