@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    .entrada {
        border-bottom: 2px solid v.$grisClaro;
        padding-bottom: 2rem;
        &:last-of-type {
            border: none;
        }
        &-meta {
            p {
                font-weight: bold;
                span {
                    color: v.$azul;
                }
            }
            @include m.tablet {
                display: flex;
                justify-content: space-between;
            }
        }   
    };
};
.entrada-blog {
    font-size: 1.5rem;
    @include m.tablet {
        font-size: 2rem;

    }
};