@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-nosotros {
    display: grid;
    gap: 4rem;
    @include m.desktop {
        grid-template-columns: 1fr 2fr;
    }
    img {
        width: 100%;
    }
    .informacion-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-size: 1.5rem;
            @include m.tablet {
                font-size: 2rem;
            }
        }
    }
}