@use 'base/variables' as v;
@use 'base/mixins' as m;

.site-footer {
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 1px solid v.$grisClaro;
    p {
        text-align: center;
        padding: 2rem 0;
        font-size: 1rem;
        @include m.tablet {
            font-size: 2rem;
        }
    }
    h3 {
        font-size: 1.5rem;
        margin: 0;
        @include m.tablet {
            font-size: 3rem;
        }
    }
    .grid-footer {
        display: flex;
        gap: 2rem;
    }
    .grid-footer div {
        flex: 1;
    }
    
}
.footer-menu a {
    display: block;
    font-size: 1.2rem;
    line-height: 1.8;
    font-family: v.$fuentePrincipal;
    transition: color .2s ease,
                font-weight .2s ease;
    &:hover {
        color: v.$azul;
        font-weight: bold;
    }
    @include m.tablet {
        font-size: 1.8rem;
    }
}