@use 'base/variables' as v;
@use 'base/mixins' as m;

.nombre-sitio {
    text-align: center;
}
.nombre-sitio span {
    color: v.$azul;
}
.hero {
    background-image: url('../../../src/image/principal.jpg');
    height: 20rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include m.tablet {
        height: 40rem;
    }
}