@use 'base/variables' as v;
@use 'base/mixins' as m;

.sobre-nosotros {
    margin-top: 3rem;
    background-image: linear-gradient( to bottom, transparent 50%, v.$azul 50%, v.$azul 100% ), url('../../../src/image/nosotros.jpg');
    background-position: center center;
    background-size: 100%, 120rem;
    background-repeat: no-repeat;
    padding: 10rem 0;
    @include m.tablet {
        margin-top: 5rem;
    }
    @include m.tablet {
        background-image: linear-gradient( to right, transparent 50%, v.$azul 50%, v.$azul 100% ), url('../../../src/image/nosotros.jpg');
        background-size: 100%, 120rem;
        background-position: left center;
    }
}
.sobre-nosotros-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    @include m.tablet {
        grid-template-rows: none;
        @include m.grid( 2, 4rem);
    };
};
.texto-nosotros {
    padding: 2rem;
    grid-row: 2 / 3;
    h2 {
        margin: 0;
    };
    p {
        font-size: 1.5rem;
        color: v.$blanco;
        @include m.tablet {
            font-size: 2rem;
        }
    };
    @include m.tablet {
        grid-column: 2 / 3;
    };
    h2 {
        color: v.$blanco;
    };
    @include m.tablet {
        text-align: left;
    };
};